loguru
pycurl
certifi
wget
pyzstd
pyrpm
packaging
rarfile
spdx-tools
cyclonedx-bom
cyclonedx-python-lib
winrar
requests
numpy
beartype
dataclasses
uritools
rdflib
xmltodict
packageurl-python
serializable
sortedcontainers
pyinstaller