loguru
#pycurl
certifi
wget
pyzstd
#magic
pyrpm
packaging
rarfile
spdx-tools
cyclonedx-bom
cyclonedx-python-lib
winrar
requests
#numpy


openEuler:
loguru wget rarfile spdx-tools cyclonedx-bom cyclonedx-python-lib winrar